.shadow-custom {
    box-shadow: 0px 3px 0px 7px #6BC89B;
}

.bg-linear-gradient-card15 {
    background-image: radial-gradient(circle, #e4912e, #eb9b41, #f1a552, #f7b063, #fdba74);
}

.bg-custom-card15 {
    background-color: #1E3148;
}
